@import '../helpers/fonts.module.scss';

.ry-root-input {
  display: flex;
  flex-direction: column;

  .ry-label-input {
    padding: 0px;
    margin: 0px;
    @include Roboto-B15;
    margin-bottom: 0.25rem;
    color: var(--input-type-a-with-icon-color-1);
  }

  .ry-container-input {
    display: flex;
    min-height: 3.125rem;
    border-bottom: 1px solid var(--input-type-a-with-icon-color-2);
    background-color: var(--input-type-a-with-icon-color-3);
    border-radius: 2.5px;
    box-sizing: border-box;
    transition: 0.3s;

    > svg {
      padding: 0.75rem 1.25rem;
      width: 0.75rem;
      height: unset !important;

      path {
        transition: 0.3s;

        fill: var(--input-type-a-with-icon-color-4);
      }
    }

    &:focus-within {
      border-bottom: 1px solid var(--input-type-a-with-icon-color-5);
      background-color: var(--input-type-a-with-icon-color-6);

      > svg {
        path {
          fill: var(--input-type-a-with-icon-color-7);
        }
      }
    }

    > input {
      @include Roboto-R15();
      flex: 1;
      padding: 0px;
      padding-left: 10px;
      border: none;
      background-color: transparent;
      color: var(--input-type-a-with-icon-color-8);

      &::placeholder {
        @include Roboto-R15();
        color: var(--input-type-a-with-icon-color-9);
        opacity: 0.65;
        text-align: left;
        transition: 0.1s;
      }

      &:focus-within {
        outline: none;
        color: var(--input-type-a-with-icon-color-10);

        &::placeholder {
          color: var(--input-type-a-with-icon-color-11);
        }

        > input {
          outline: none;
        }
      }
    }
  }
}
