@import '../helpers/fonts.module.scss';

.container {
  display: grid;
  grid-template-rows: 6% 94%;
  height: 100%;
  flex: 1;

  > p:nth-child(1) {
    @include Roboto-B13();
    grid-row: 1 / 2;
    border-bottom: 1.25px solid var(--page-color-1);
    box-shadow: 0px 4px 10px 0px var(--page-color-2);
    color: var(--page-color-3);
    background-color: var(--page-color-4);
    padding: 1rem 2rem;
  }
}

.main-1 {
  display: flex;
  width: 100%;

  > aside {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    cursor: unset;
    padding: 1.25rem 2rem;
    width: 20%;

    background-color: var(--aside-color-1);
    border: 1px solid var(--aside-color-2);
    box-shadow: 0px 4px 10px 0px var(--aside-color-3);
  }

  > main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }
}

.container-without-title {
  display: grid;
  height: 100%;
  flex: 1;
  margin-top: 0rem;
}
