@import '../helpers/fonts.module.scss';

@mixin container-size-01() {
  width: 11.5625rem;
  height: 3.125rem;
}

@mixin container-size-02() {
  width: 9.8856rem;
  height: 2.5rem;
}

@mixin container-size-03() {
  width: 8.235rem;
  height: 2.2256rem;
}

@mixin container-size-04() {
  width: 6.5881rem;
  height: 2.2256rem;
}

@mixin container-font-size-01() {
  > button {
    @include Roboto-B14();
    color: var(--custom-color2);
  }
}

@mixin container-font-size-02() {
  > button {
    @include Roboto-B15();
    color: var(--custom-color2);
  }
}

@mixin container-font-size-03() {
  > button {
    @include Roboto-B16();
    color: var(--custom-color2);
  }
}

@mixin container-font-size-04() {
  > button {
    @include Roboto-B17();
    color: var(--custom-color2);
  }
}

.container-with-icon {
  // display: grid;
  // grid-template-columns: 25% 65%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border-radius: 0.1563rem;
  transition: 0.2s;
  border-top-left-radius: 0.1563rem;
  border-bottom-left-radius: 0.1563rem;
  column-gap: 1rem;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
  }

  &:hover {
    > div:nth-child(1) {
      // background-color: $icon-color-01__hover;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }

  > svg {
    width: 1.0938rem;
    height: 1.0938rem;
  }

  > svg path {
    fill: white;
  }
}

.size1 {
  @include container-size-01();
  @include container-font-size-01();
}

.size2 {
  @include container-size-02();
  @include container-font-size-02();
}

.size3 {
  @include container-size-03();
  @include container-font-size-03();
}

.size4 {
  @include container-size-04();
  @include container-font-size-04();
}

.size5 {
  width: 100% !important;
  height: 3.125rem !important;
  @include container-font-size-01();
}

.size6 {
  width: 100% !important;
  height: 100% !important;
  @include container-font-size-01();
}

.primary {
  background-color: var(--button-type-a-with-icon-color-1);
  &:hover {
    background-color: var(--button-type-a-with-icon-color-12);
  }
  > button {
    color: var(--button-type-a-with-icon-color-2);
  }
}

.secondary {
  background-color: var(--button-type-a-with-icon-color-3);

  > button {
    color: var(--button-type-a-with-icon-color-4);
  }
}

.danger {
  background-color: var(--button-type-a-with-icon-color-5);

  > button {
    color: var(--button-type-a-with-icon-color-6);
  }
}

.warning {
  background-color: var(--button-type-a-with-icon-color-7);

  > button {
    color: var(--button-type-a-with-icon-color-8);
  }
}

.none {
  background-color: var(--button-type-a-with-icon-color-9);

  > button {
    color: var(--button-type-a-with-icon-color-10);
  }

  &:hover {
    // background-color: $container-background-color-05__hover;
  }
}
