@import '../assets/fonts.module.scss';

$container-background-color-01: #3ebe8e;
$container-background-color-02: #525252;
$container-background-color-03: #ef1d1d;
$container-background-color-04: #efc11d;
$container-background-color-05: transparent;

$container-background-color-01__hover: #45d49f;
$container-background-color-02__hover: #525252;
$container-background-color-03__hover: #ff2b2b;
$container-background-color-04__hover: #efc11d;
$container-background-color-05__hover: transparent;

@mixin container-size-01() {
  width: 11.5625rem;
  height: 3.125rem;
}

@mixin container-size-02() {
  width: 9.8856rem;
  height: 2.6719rem;
}

@mixin container-size-03() {
  width: 8.235rem;
  height: 2.2256rem;
}

@mixin container-size-04() {
  width: 6.5881rem;
  height: 2.2256rem;
}

@mixin container-size-05() {
  width: 4.9413rem;
  height: 1.3356rem;
}

@mixin container-font-size-01() {
  > button {
    @include Roboto-B14();
  }
}
@mixin container-font-size-02() {
  > button {
    @include Roboto-B15();
  }
}
@mixin container-font-size-03() {
  > button {
    @include Roboto-B16();
  }
}
@mixin container-font-size-04() {
  > button {
    @include Roboto-B17();
  }
}
@mixin container-font-size-05() {
  > button {
    @include Roboto-B18();
  }
}

@mixin button-color-01-02-03-04() {
  > button {
    color: white;
  }
  &:hover {
    > button {
    }
  }
}

@mixin button-color-05() {
  > button {
    color: black;
  }
  &:hover {
    > button {
      color: rgb(88, 88, 88);
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;

  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  > i {
    // color: white;
    // width: 12px;
    // height: 12px;
    --ggs: 1;
    font-size: 0.1;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
  }

  > svg path {
    fill: white;
  }

  &:hover {
    > svg path {
      fill: black;
    }
  }
}

.size1 {
  @include container-size-01();
  @include container-font-size-01();
}

.size2 {
  @include container-size-02();
  @include container-font-size-02();
}

.size3 {
  @include container-size-03();
  @include container-font-size-03();
}

.size4 {
  @include container-size-04();
  @include container-font-size-04();
}

.size5 {
  @include container-size-05();
  @include container-font-size-05();
}

.font-size1 {
  @include container-font-size-01();
}

.font-size2 {
  @include container-font-size-02();
}

.font-size3 {
  @include container-font-size-03();
}

.font-size4 {
  @include container-font-size-04();
}

.font-size5 {
  @include container-font-size-05();
}

.primary {
  background-color: $container-background-color-01;
  @include button-color-01-02-03-04();

  &:hover {
    background-color: $container-background-color-01__hover;
  }
}

.secondary {
  background-color: $container-background-color-02;
  @include button-color-01-02-03-04();

  &:hover {
    background-color: $container-background-color-02__hover;
  }
}

.danger {
  background-color: $container-background-color-03;
  @include button-color-01-02-03-04();

  &:hover {
    background-color: $container-background-color-03__hover;
  }
}

.warning {
  background-color: $container-background-color-04;
  @include button-color-01-02-03-04();

  &:hover {
    background-color: $container-background-color-04__hover;
  }
}

.none {
  background-color: $container-background-color-05;
  @include button-color-05();
  &:hover {
    background-color: $container-background-color-05__hover;
  }
}
