@import '../assets/fonts.module.scss';

.Checkbox {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 20px !important;
  height: 20px !important;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 0.5rem;

  > img {
    width: 0.938rem;
    height: 0.938rem;
  }
}

.container {
  display: flex;
  cursor: pointer;
  width: fit-content;
  p {
    @include Roboto-R16();
    align-self: center;
    color: #646464;
    margin-left: 0.5rem;
    margin: 0;
    padding: 0;
  }
}
