.divv {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  > div:nth-child(1) {
    display: flex;
  }
}

.x {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.after {
  right: 0px;
  overflow: visible;
  display: block;
  flex-direction: column;
  position: sticky;
  top: 30px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.952);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.35);
  padding: 1rem 1rem;
  z-index: 2;
}
